
[submodule "/home/zspekt/.config/nvim"]
	path = /home/zspekt/.config/nvim
	url = https://github.com/zspekt/chadfork.git
[submodule ".zsh/antidote"]
	path = .zsh/antidote
	url = https://github.com/mattmc3/antidote.git
